[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-Freddy/client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/nest-microservices-Freddy/orders-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/nest-microservices-Freddy/orders-microservice
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/nest-microservices-Freddy/product-microservice
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/nest-microservices-Freddy/payments-ms.git
