[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/nest-microservices-Freddy/client-gateway.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/nest-microservices-Freddy/orders-microservice.git
